
<main id="content">
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <form action="" method="POST">

        <select name="razdelList">
        {{#each razdelList}}
            <option value="{{this.razdelId}}" {{#if this.selected}} selected {{/if}}>
                {{this.razdel}}
            </option>
        {{/each}}
        </select>
        <input name="articleId" type="hidden" value="{{article.id}}"/>
        <input name="title" type="text" value="{{article.title}}"/>
        <textarea name="editInput" id="editInput" rows="10" cols="80">{{article.text}}</textarea>
        <input type="submit"  value="Сохранить"/>
        <input type="button" value="Отмена" />
    </form>
    <script>
        CKEDITOR.replace( 'editInput' );
    </script>


</main>
