{{#if message}}
    <div class="message">
        <span style="color: red">{{message}}</span>
    </div>
{{/if}}
<h1>{{razdel}}</h1>
<div id="content">
    <table width="100%">
        {{#each articles}}

            <H2><a href="/articles/{{id}}">{{title}}</a></H2>
            <div>{{created}}</div>
        {{/each}}
    </table>

</div>
</div>
